*.pyc
*.log
*.npy
*.png
*.lock
.vscode/
.DS_Store
rusteval/target
legacy/handattributes.pickle
hand_recognition/data/
hand_recognition/assets/
hand_recognition/checkpoints/
kuhn/assets/
kuhn/checkpoints/
poker/assets/
poker/checkpoints/